.post-title{
	@include heading1;
	text-align: center;
	margin-top: 0;
	margin-bottom: rem(29);
}

.post-content{
	@include heading4;
}

.post-meta{
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
	margin-bottom: 45px;
	@include heading6;
	.post-author{
		display: flex;
		align-items: center;
		gap: 11px;
		img{
			width: 32px;
			height: 32px;
			border-radius: 500px;
		}
	}
}

.post-image{
	margin-bottom: 2em;
	img{
		width: 100%;
		max-height: 420px;
	}
}



